/__pycache__/
/output/
/private_source/

# Ignore game data binary packages
*.bytes

# Ignore local SQLite translation memory databases
translation_memory.db*

# Ignore temporary zip archives
*.zip
*.7z